.header{
  min-height: 100px;
}

.web{
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option{
  font-size: 20px;
  margin-right: 16px;
  font-weight: 700;
  transition: ease-out 0.3s;
}

.web-option:hover{
  font-size: 25px;
}

.web-option a{
  text-decoration: none;
  color: black;
  align-items: center;
}

.option-icon{
  display: flex;
  align-items: center;
  width: 25px;
  margin-right: 4px;
}

.web-option:last-child {
  margin-right: 0px;
}
