.social-icon{
  width: 40px;
  transition: ease-out 0.3s;
}

.social-icon:hover{
  width: 55px;
}

.social-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icon-div{
  padding: 6px;
  cursor: pointer;
  margin: 6px;
}

@media only screen and (max-width: 720px){
  .social-icon{
    width: 32px;
  }
}
