.demo-icon, .github-icon {
  width: 25px;
};

.project-card{
  display: flex;
  flex: 1;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
  width: 100%;
}

.project-media{
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 100px 0px;
}

.project-info{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  width: 50%;
}

.project-title{
  font-size: 20px;
  font-weight: 600;
}

.project-tags{
  display:flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag{
  padding: 4px 8px;
  background-color: yellow;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.project-links{
  margin-top: 6px;
  display: flex;
}

.project-links a{
  text-decoration: none;
  color:black;
}

.link-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
  transition: ease-out 0.3s;
  border: 1px solid black;
}

.project-link :hover{
  box-shadow: inset 150px 0 0 yellow;
}

.link-button img{
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media only screen and (max-width: 720px){
  .project-media{
    width: 100%;
  }

  .project-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .project-info {
    width: 100%;
    margin-left: 0px;
    margin-top: 12px;
  }
  .project-tags{
    max-width: 100%;
    justify-content: space-around;
  }
}
