.picture {
  height: 420px;
  border-radius: 100px 0px 100px 0px;
  border-style: solid;
  border-color: orange;
  border-width: 1px;
}

.about{
  padding-bottom: 48px;
}

.about-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-photo{
  margin: 20px;
}

.about-info{
  font-size: 24px;
}

.info-name{
  color: orange;
  font-size: 32px;
}

@media only screen and (max-width: 720px) {
  .about-top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture{
    height: 280px;
  }
  .about-info{
    font-size: 20px;
  }
  .info-name{
    font-size: 26px;
  }

}
